<!DOCTYPE html>
<html>
  <body>
   <div class="home">
		<h1>Paul's Poker for Friends</h1>
		<p>Let's play!</p>
	</div>

<p>Please assign tonight's players and hit "submit"</p>
<form method="post">
<input type="checkbox" name="players" value="anurang">Big A<br>
<input type="checkbox" name="players" value="bob">Bobsters<br>
<input type="checkbox" name="players" value="ken">Pookie<br>
<input type="checkbox" name="players" value="paul">Chafe<br>
<input type="checkbox" name="players" value="steve">Stevenator<br>
<input type="checkbox" name="players" value="guest1">Guestinator<br>
<input id="player1" name="player1"><label for="player1" style="color:#DC143C; font-weight:bold;">Player 1</label>
<br>
<input id="player2" name="player2"><label for="player2" style="color:#DC143C; font-weight:bold;">Player 2</label>
<br>
<input id="player3" name="player3"><label for="player3" style="color:#DC143C; font-weight:bold;">Player 3</label>
<br>
<input id="player4" name="player4"><label for="player4" style="color:#DC143C; font-weight:bold;">Player 4</label>
<br>
<input id="player5" name="player5"><label for="player5" style="color:#DC143C; font-weight:bold;">Player 5</label>
<br>
<input id="player6" name="player6"><label for="player6" style="color:#DC143C; font-weight:bold;">Player 6</label>
<br>
<input type="submit">
</form>
</body>
</html>